<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="label-cell"><label for="data.style">Style</label></div>
    <div><input type="text" name="data.style" value="{{data.style}}"/></div>

    <div class="label-cell"><label for="data.look">Look</label></div>
    <div><input type="text" name="data.look" value="{{data.look}}"/></div>

    <div class="label-cell"><label for="data.occupation">Occupation</label></div>
    <div><input type="text" name="data.occupation" value="{{data.occupation}}"/></div>

    <div class="label-cell"><label for="data.ambition">Ambition</label></div>
    <div><input type="text" name="data.ambition" value="{{data.ambition}}"/></div>

    <div class="label-cell"><label for="data.strengths">Strengths</label></div>
    <div><input type="text" name="data.strengths" value="{{data.strengths}}"/></div>

    <div class="label-cell"><label for="data.weaknesses">Weaknesses</label></div>
    <div><input type="text" name="data.weaknesses" value="{{data.weaknesses}}"/></div>

    <div class="label-cell"><label for="data.enemy">Enemy</label></div>
    <div><input type="text" name="data.enemy" value="{{data.enemy}}"/></div>

    <div class="label-cell"><label for="data.resistance">Resistance</label></div>
    <div><input type="text" name="data.resistance" value="{{data.resistance}}"/></div>

  </section>
</form>
